body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
    overflow: hidden;
}
.border{
    margin: 24px;
}
.left{
    float:left;
    width:50%;
    height: auto;
    }
.middle{
    margin-left: 32px;
    float:left;
    width:45%;
    height: auto;
} 
.right{
  
}

.about{
    margin-top: 32px;
    color: gray;
    font-size: medium;
    text-align: left;
    font-family: 'PT Serif', serif;
}

.experiences{
    margin-left: 24px;
    color: gray;
    font-size: medium;
    text-align: left;
    font-family: 'PT Serif', serif;
}

.ss {
    width: 25vw;
    height: 10vw;
}

.name {
    font-size: x-large;
    font-family: 'PT Serif', serif;
    color: gray;
}

.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.container {
    text-align: center;
    padding: 10px 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}

li:hover{
    font-weight: bold;
    color: #7d729c;
}

.menu-hover-fill li {
    position: relative;    color: gray;

}

.menu-hover-fill li a {
    position: relative;
    color: gray;
}
.menu-hover-fill li a::before {
    position: absolute;
    z-index: -1;
    text-decoration: underline;
    font-family: 'PT Serif', serif;
    font-size: medium;
    color: gray;



}

@media only screen and (max-width: 700px) {
    li{
        display: block;
        font-size: x-small;
        margin-bottom: 8px;
    }
    
    .left{
        float:none;
        width:100%;
        height: auto;
        }
    .middle{
        display:flow-root;
        width:100%;
        margin-top: 24px;
        margin-left:0px;
        float: none;
        height: auto;
    
    }
    
}