body,h1 {
    font-family: "Raleway", sans-serif
}

body, html {
    height: 100%
}

.bgimg {
    background-image: url('tanny2.jpg');
    min-height: 100%;
	max-width:100%
	background-position: center;
    background-size: cover;
	
}
.blind {
    height: 0px;
    overflow: hidden;
}
.shiftover{
	margin-left:40px;
}

.barstyle{
    margin:auto;
	max-width:80%%
    padding-top:5px;
    padding-bottom:5px;

}

.display-bottomleft{
    position:absolute;
	left:0;
	bottom:0;
}

.padding-large{
    padding:12px 24px;
}

.large{
    font-size:18px;
}

.resume{
	
	
}

.center{
    text-align:center;
}


.jumbo{
    font-size:54px;
}
.animate-top{
    position:relative;
    animation:animatetop 1s
}@keyframes animatetop{
    from{
        top:-300px;
        opacity:0
    } to{
        top:0;
        opacity:1
    }
}
.animate-bottom{
    position:relative;
    animation:animatebottom 1.5s
}@keyframes animatebottom{
    from{
        bottom:300px;
        opacity:0
    } to{
        bottom:0;
        opacity:1
    }
}

.removeunderline{
    text-decoration: none;
}

.buttonround{
	border-radius: 12px;

}

.display-middle{
    position:absolute;
    top:80%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}



#connect #social-footer #sm-links li a{
	text-indent:-9999px;
	width:26px; 
	height:26px;
    position: relative;
}

#connect #social-footer #sm-links li a.facebook{ /*STOCK GRABBED FROM W3SCHOOLS.com */
	background:url(images/sm-facebook-icon.png) no-repeat;
} 
#connect #social-footer #sm-links li a.twitter{
	background:url(images/sm-twitter-icon.png) no-repeat; width:31px;
}
#connect #social-footer #sm-links li a.youtube{
	background:url(images/sm-youtube-icon.png) no-repeat; width:28px;
}
#connect #social-footer #sm-links li a.linkedin{
	background:url(images/sm-linkedin-icon.png) no-repeat;
}
a:link, a:visited {
	max-width:100%;
    background-color: #800000;
	box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);    
	color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;	
	border-radius: 50px;
	border: 0px 
}




a:hover, a:active {
    background-color: #808080;
		border-radius: 40px;

}


@media (max-width: 700px) {
.bgimg {
    background-image: url('tanny2.jpg');
    min-height: 100%;
	max-width:700px;
	background-position: center;
    background-size: cover;
	
}
    
.jumbo{
	font-size:25px;
}    
.large{
   font-size:7px;
}
a:link, a:hover{
    background-color: #800000;
    color: white;
    font-size: 7px;
    padding: 4px 15; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
 }
   
}

